@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
}

.firstbg{
    background-image: url("./image\ \(2\).webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 105vh;
}

.nav{
    padding-top: 20px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

.left{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.right{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.dropdownone{
    padding-top: 5px;;
    display: flex;
    gap: 30px;
}

.straightbar{
    color: rgb(255, 191, 0);
    font-size:larger;
    font-weight:100;
    
}

.products,.content,.meet{
    display: flex;
    justify-content: left;
    color: rgb(244, 235, 235);
    background-color: transparent;
}

.products,.content,.meet{
    border: none;
    outline: none;
}

.english{
    display: flex;
    justify-content: left;
    color: rgb(244, 235, 235);
    background-color: transparent;
}

.english{
    border: none;
    outline: none;
}

.opt1{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
}

.opt2{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
}

.opt3{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
}

.opt4{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
}

.careers{
    color: white;
}

.careers:hover{
    color:rgb(255, 191, 0); 
}

.about{
    color: white;
}

.about:hover{
    color:rgb(255, 191, 0);
}

.second{
    display: flex;
    justify-content: space-between;
}

.secondpara{
    padding-top: 100px;
    padding-left: 10px;
    display: inline;
}

.mobile{
    text-align: end;
    padding-right: 15px;
    padding-top: 25px;
}

.trulypara{
    padding-top: 30px;
    color: white;
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0%;
}

.heading{
    padding-top: 30px;
    color: white;
    font-size:290%;
    font-family: "Bebas Neue", sans-serif;
    line-height:200%;
}

.ecohead{
    padding: 0;
    color: white;
    font-size: 290%;
    font-family: "Bebas Neue", sans-serif;
    line-height: 200%;
}

.genpara{
    padding-top: 30px;
    padding-bottom: 30px;
    color: gray;
    font-size:x-large;
    line-height: 190%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.reqademo button{
    background-color: rgb(255, 191, 0);
    width: 200px;
    height: 50px;
    border: none;
    font-size: medium;
}

.reqademo button:hover{
    background: none;
    color: rgb(255, 191, 0);
    border: 1px solid rgb(255, 191, 0);;
}

.global{
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.third{
    background-color: white;
    height: 25vh;
}
.animimage{
    padding-top: 30px;
    text-align: center;
}

.fourth {
    background-image: url(./fourthbg.webp);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.esports{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size:x-large;
    letter-spacing: 2px;

}

.degree{
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size:medium;
    letter-spacing: 2px;


}

.maincard{
    padding-top: 70px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content:center
}

.cards{
    width: 340px;
    height: 420px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.oddsfeedimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofoddsfeed{
    padding-top: 40px;
    padding-left: 30px
}

.paraofoddsfeed{
    padding-top: 40px;
    padding-left: 30px;
    padding-right:30px
}

.riskimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofrisk{
    padding-top: 40px;
    padding-left: 30px;
}

.paraofrisk{
    padding-top: 40px;
    padding-left: 30px;
    padding-right:30px
}

.iframeimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofiframe{
    padding-top: 40px;
    padding-left: 30px;
}

.paraofiframe{
    padding-top: 40px;
    padding-left: 30px;
    padding-right:30px
}

.marketimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofmarket{
    padding-top: 40px;
    padding-left: 30px;
}

.paraofmarket{
    padding-top: 40px;
    padding-left: 30px;
    padding-right:30px
}

.buttonoflearnmore{
    
    padding-top: 50px;
    padding-left: 30px

}

.buttonoflearnmore button{
    height: 50px;
    width: 200px;
}

.fifth-header{
    padding-top: 100px;
    padding-left: 50px;
}

.engaging{
    padding-top: 50px;
}

.sixth{
    display: flex;
    justify-content: space-between;
}

.sixthpara{
    padding-top: 200px;
    padding-left: 10px;
    display: inline;
}

.sixthimg{
    text-align: end;
    padding-right: 15px;
    padding-top: 25px;
}


