@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}

.firstbg{
    background-image: url("./image\ \(2\).webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 110vh;
}

.nav{
    padding-top: 20px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

.left{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.right{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.dropdownone{
    padding-top: 5px;;
    display: flex;
    gap: 30px;
}

.straightbar{
    color: rgb(255, 191, 0);
    font-size:xx-large; 
}

.straightbar h1{
    font-weight:1;
}

.products,.content,.meet{
    display: flex;
    justify-content: left;
    color: rgb(244, 235, 235);
    background-color: transparent;
}

.products,.content,.meet{
    border: none;
    outline: none;
}

.products:hover{
    color:rgb(255, 191, 0); 
}

.content:hover{
    color:rgb(255, 191, 0); 
}

.meet:hover{
    color:rgb(255, 191, 0); 
}

.english{
    display: flex;
    justify-content: left;
    color: rgb(244, 235, 235);
    background-color: transparent;
}

.english{
    border: none;
    outline: none;
}

.english:hover{
    color:rgb(255, 191, 0); 
}

.opt1{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.opt2{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.opt3{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.opt4{
    background-color:hsl(232, 9%, 16%);
    outline: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.careers{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.careers:hover{
    color:rgb(255, 191, 0); 
}

.about{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about:hover{
    color:rgb(255, 191, 0);
}

.second{
    display: flex;
    justify-content: space-between;
}

.secondpara{
    padding-top: 100px;
    padding-left: 15px;
    display: inline;
}

.mobile{
    text-align: end;
    padding-right: 15px;
    padding-top: 25px;
}

.trulypara{
    padding-top: 30px;
    color: white;
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0%;
}

.heading{
    padding-top: 30px;
    color: white;
    font-size:250%;
    font-family: "Cossette Titre", sans-serif;
    line-height:200%;
    letter-spacing:100;
}

.ecohead{
    padding: 0;
    color: white;
    font-size: 250%;
    font-family: "Cossette Titre", sans-serif;
    line-height: 200%;
}

.genpara{
    padding-top: 30px;
    padding-bottom: 30px;
    color: gray;
    font-size:x-large;
    line-height: 190%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.reqademo button{
    background-color: rgb(255, 191, 0);
    width: 200px;
    height: 50px;
    border: none;
    font-size: medium;
}

.reqademo button:hover{
    background: none;
    color: rgb(255, 191, 0);
    border: 1px solid rgb(255, 191, 0);;
}

.global{
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.third{
    background-color: white;
    height: 25vh;
}
.animimage{
    padding-top: 30px;
    text-align: center;
}

.fourth {
    background-image: url(./fourthbg.webp);
    width: 100%;
    height: 115vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.esports{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-family: "Cossette Titre", sans-serif;
    font-size:x-large;

}

.degree{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: "Cossette Titre", sans-serif;
    font-size:medium;
}

.maincard{
    padding-top: 70px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content:center
}

.cards{
    width: 350px;
    height: 420px;
    background-color: white;
    display: flex;
    justify-content:space-around;
    
}

.oddsfeedimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofoddsfeed{
    padding-top: 40px;
    padding-left: 30px;
    font-family: "Cossette Titre", sans-serif;
}

.paraofoddsfeed{
    padding-top: 20px;
    padding-left: 30px;
    padding-right:30px;
    line-height: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80, 79, 79);
}

.riskimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofrisk{
    padding-top: 40px;
    padding-left: 30px;
    font-family: "Cossette Titre", sans-serif;
}

.paraofrisk{
    padding-top: 20px;
    padding-left: 30px;
    padding-right:30px;
    line-height: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80, 79, 79);
}

.iframeimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofiframe{
    padding-top: 40px;
    padding-left: 30px;
    font-family: "Cossette Titre", sans-serif;
}

.paraofiframe{
    padding-top: 20px;
    padding-left: 30px;
    padding-right:30px;
    line-height: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80, 79, 79);
}

.marketimg{
    padding-top: 40px;
    padding-left: 30px;
}

.headofmarket{
    padding-top: 40px;
    padding-left: 30px;
    font-family: "Cossette Titre", sans-serif;
}

.paraofmarket{
    padding-top: 20px;
    padding-left: 30px;
    padding-right:30px;
    line-height: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80, 79, 79);
}

.buttonoflearnmore{
    
    padding-top: 60px;
    padding-left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(88, 88, 88);

}

.buttonoflearnmore button{
    height: 51px;
    width: 190px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(72, 71, 71);
    font-weight: 500;
    background-color:rgb(196, 196, 196);
    border: 1px solid black;
}

.buttonoflearnmore button:hover{
    background-color: white;
}

.fifth-header{
    padding-top: 100px;
    padding-left: 15px;
    font-family: "Cossette Titre", sans-serif;
}

.why{
    font-size:larger
}

.engaging{
    padding-top: 50px;
    font-size: x-large;
}

.sixth{
    display: flex;
    justify-content: space-between;
}

.sixthpara{
    padding-top: 200px;
    padding-left: 10px;
    display: inline;
}

.sixthhead{
    font-family: "Cossette Titre", sans-serif;
    font-size: medium;
}

.sixthdesc{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.sixthdescnext{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.sixthimg{
    text-align: end;
    padding-right: 15px;
    padding-top: 25px;
}

.seven{
    display: flex;
    justify-content: space-between;
}

.sevenimg{
    text-align: end;
    padding-left: 15px;
    padding-top: 30px;
}

.sevenpara{
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 5px;
    display: inline;
}

.sevenhead{
    font-family: "Cossette Titre", sans-serif;
    font-size: medium;
}

.sevendesc{
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.sevendescnext{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.sevendesctwo{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.eight{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.eightpara{
    padding-top: 100px;
    padding-left: 10px;
    display: inline;
}

.eighthead{
    font-family: "Cossette Titre", sans-serif;
    font-size: medium;
}

.eightdesc{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color:black;
    font-weight: 500;
}

.eightdescnext{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.eightdesctwo{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.eightimg{
    text-align: end;
    padding-right: 15px;
    padding-top: 100px;
}

.nine{
    padding-top: 130px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.ninehead{
    font-family:  "Cossette Titre", sans-serif;
    font-size: larger;
}

.ninedesc{
    padding-top: 40px;
    font-family:  "Cossette Titre", sans-serif;
    font-size: 35px;
}

.ninemaincards{
    padding-top: 100px;
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content:center;
    padding-bottom: 50px;
}

.ninecardsone,.ninecardstwo,.ninecardsthree,.ninecardsfour{
    width: 300px;
    height: 350px;
    background-color: white;
    align-items: start;
}

.ninecardsone,.ninecardstwo,.ninecardsthree{
    border-right: 1px solid rgb(223, 223, 223);
}

.ninecardlogo{
    text-align: left;
    padding-left: 20px;
}

.ninecardhead{
    text-align: start;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    font-family:  "Cossette Titre", sans-serif;
    font-size: larger;
}

.ninecardpara{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: rgb(80, 79, 79);
}

.ten{
    background-image: url(./image\ \(25\).webp);
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tenhead{
    text-align: center;
    padding-top: 130px;
    font-family:  "Cossette Titre", sans-serif;
    color: white;
    font-size: 27px;
}


.tenmaincardone{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.tencardone p{
    font-size: smaller;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tenmaincardtwo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    width: 100%;
    max-width: 1420px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.tencardtwo{
    text-align: center;
}

.tencardtwo p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.elevenhead{
    padding-top: 50px;
    text-align: center;
    font-family:  "Cossette Titre", sans-serif;
    font-size: x-large;
}

.eleven-one{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.eleven-one-img{
    text-align: end;
    padding-left: 15px;
    padding-top: 30px;
}

.eleven-one-para{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
}

.head-of-eleven{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    color: rgb(255, 191, 0);
    font-weight: 500;
}

.eleven-one-date{
    text-align: end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    color: rgb(80, 79, 79);
}

.eleven-one-head{
    display: flex;
    justify-content:space-between;
    gap: 48px;
}

.eleven-one-desc{
    padding-top: 25px;
    font-family: "Cossette Titre", sans-serif;
    font-size:x-large;
    color:black;
    font-weight: bold;
}



.eleven-one-desc-next{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.eleven-button{
    
    padding-top: 180px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(88, 88, 88);

}

.eleven-button button{
    height: 51px;
    width: 190px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(72, 71, 71);
    font-weight: 500;
    background-color:rgb(196, 196, 196);
    border: 1px solid black;
}

.eleven-button button:hover{
    background-color: white;
}

.eleven-main-cards{
    padding-top: 100px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content:space-around;
    padding-bottom: 50px;
}

.eleven-cards{
    width: 480px;
    height: 700px;
    background-color: white;
}

.eleven-card-para{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
}

.head-of-cardeleven{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    color: rgb(255, 191, 0);
    font-weight: 500;
}

.eleven-card-date{
    text-align: end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    color: rgb(80, 79, 79);
}

.eleven-card-head{
    display: flex;
    justify-content:space-between;
    gap: 48px;
}

.eleven-card-desc{
    padding-top: 25px;
    font-family: "Cossette Titre", sans-serif;
    font-size:x-large;
    color:black;
    font-weight: bold;
}



.eleven-card-desc-next{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(80, 79, 79);
}

.eleven-card-button{
    
    padding-top: 130px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(88, 88, 88);

}

.eleven-card-button button{
    height: 51px;
    width: 190px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(72, 71, 71);
    font-weight: 500;
    background-color:rgb(196, 196, 196);
    border: 1px solid black;
}

.eleven-card-button button:hover{
    background-color: white;
}

.form{
    background-image: url("./image\ \(53\).webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-head{
    padding: 100px;
    text-align: center;
    font-family: "Cossette Titre", sans-serif;
    color: white;
    font-size: xx-large;
}

.first-inp{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}

.first-inp input{
    display: block;
    background-color:rgba(255,255,255, 0.2);
    width: 400px;
    height: 50px;
    border: none;
}

.first-inp label{
    color: rgba(176, 174, 174, 0.938);
    padding-bottom: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.second-inp label{
    color: rgba(176, 174, 174, 0.938);
    padding-bottom: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.second-inp input{
    background-color:rgba(255,255,255, 0.2);
    width: 860px;
    height: 50px;
    border: none;
}

.second-inp textarea{
    background-color:rgba(255,255,255, 0.2);
    width: 860px;
    height: 150px;
    border: none;
}

.checkbox{
    color: yellow;
}

.agree{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(176, 174, 174, 0.938);
}

.agree b{
    color: white;
}

.last-one{
    display: flex;
    gap: 10px;
}

.button-form{
    text-align: end;
    padding-left: 70px;
}

.button-form button{
    background-color: rgb(255, 191, 0);
    width: 200px;
    height: 50px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.button-form button:hover{
    background: none;
    color: rgb(255, 191, 0);
    border: 1px solid rgb(255, 191, 0);;
}

.footer{
    background-color: rgb(14, 15, 22);
    width: 100%;
    height: 65vh;
}

.footer-main-card{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-card{
    width: 10000px;
    height: 400px;
}

.footer-logo{
    padding-top: 80px;
}

.contactfoot p{
    color: white;
    font-family: "Cossette Titre", sans-serif;
}

.contactfoot li{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
}

.contactfoot ul{
    padding-top: 30px;
}

.productsfoot p{
    color: white;
    font-family: "Cossette Titre", sans-serif;
}

.productsfoot li{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
}

.productsfoot ul{
    padding-top: 30px;
}

.otherfoot p{
    color: white;
    font-family: "Cossette Titre", sans-serif;
}

.otherfoot li{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
}

.otherfoot ul{
    padding-top: 30px;
}

.esicimg{
    padding-top: 70px;
    display: flex;
    gap: 20px;
}

.last-para{
    color: white;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    padding-right: 30px;
}

.eigplus{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 30px;
    padding-right: 0px;
}

.eigplus-link{
    display: block;
    color: rgba(176, 174, 174, 0.938);
}